{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/css/aboutusstyles.css' %}">

<div class="about-section">
    <h1><span class="text-success">AGRO</span> <span class="text-warning">NEPAL</span></h1>
    <p>Agro Nepal is a national service corporation, which believes in collectivism to solve national problems.</p>
    <p>The main goal of Agro Nepal is to uplift the condition of the Nepalese Agriculture. To do this, we have been
        travelling to rural parts of Nepal, where majority of Nepalese farmers reside, to teach them about modern ways
        of
        agriculture and the importance of agriculture in Nepal.</p>
</div>


<div class="row bg-secondary md">
    <h2 class="text-center">Our Team</h2>
    <div class="column md">
        <div class="card">
            <img src="{% static '/images/saugatDP.jpg   ' %}" alt="Saugat" style="width:100%;max-height:80%">
            <div class="container">
                <h2>Saugat Kunwar</h2>
                <p class="title">Database Engineer</p>
                <p>Mr.Saugat is the leading Art Director of Agro Nepal.</p>
                <p>saugatkunwar@gmail.com</p>
                <div class="h1 mb-3 px-5">
                    <a class="px-2" href="https://www.facebook.com/profile.php?id=100004989498034"><i
                            class="bi bi-facebook"></i></a>
                    <a class="px-2" href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
                    <a class="px-2" href="https://twitter.com/?lang=en"><i class="bi bi-twitter"></i></a>
                    <a class="px-2" href="https://github.com/aryanPokharel/realWorldProject.git"><i class="bi bi-github"></i></a>

                </div>
            </div>
        </div>
    </div>


    <div class="column md">
        <div class="card">
            <img src="{% static '/images/aryanDP.jpg' %}" alt="Aryan" style="width:100%;max-height:80%">
            <div class="container">
                <h2>Aryan Pokharel</h2>
                <p class="title">Backend engineer</p>
                <p>Mr.Aryan is the backend engineer of Agro Nepal. He integrated the front end of the site
                to a meaningful backend API system.</p>
                <p>aryanpokharel417@gmai.com</p>
                <div class="h1 mb-3 px-5">
                    <a class="px-2" href="https://www.facebook.com/index.php"><i class="bi bi-facebook"></i></a>
                    <a class="px-2" href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
                    <a class="px-2" href="https://twitter.com/?lang=en"><i class="bi bi-twitter"></i></a>
                    <a class="px-2"
                       href="https://github.com/aryanPokharel/realWorldProject.git"><i
                            class="bi bi-github"></i></a>

                </div>
            </div>
        </div>
    </div>



    <div class="column md">
        <div class="card">
            <img src="{% static '/images/kiranDP.jpg' %}" alt="Kiran" style="width:100%;max-height:80%">
            <div class="container">
                <h2>Kiran Khatri</h2>
                <p class="title">Designer and JS Expert</p>
                <p>Mr.Kiran is the lead designer here at Agro Nepal. He was the one designing the webpages
                of Agro Nepal.</p>
                <p>kirankhatri@gmail.com</p>
                <div class="h1 mb-3 px-5">
                    <a class="px-2" href="https://www.facebook.com/profile.php?id=100006586145444" style="text-decoration: none;"><i
                            class="bi bi-facebook"></i></a>
                    <a class="px-2" href="https://www.instagram.com/" style="text-decoration: none;"><i
                            class="bi bi-instagram"></i></a>
                    <a class="px-2" href="https://twitter.com/?lang=en" style="text-decoration: none;"><i
                            class="bi bi-twitter"></i></a>
                    <a class="px-2" href="https://github.com/aryanPokharel/realWorldProject.git" style="text-decoration: none;"><i
                            class="bi bi-github"></i></a>

                </div>
            </div>
        </div>
    </div>

    <div class="column md" style="margin-left:10%;">
        <div class="card">
            <img src="{% static '/images/parikshitDP.jpg' %}" alt="Parikshit" style="width:100%;max-height:80%">
            <div class="container">
                <h2>Parikshit Balami</h2>
                <p class="title">Documentater</p>
                <p>Mr.Parikshit is the lead documenater here at Agro Nepal. He wrote and revised all the documents
                 of Agro Nepal.</p>
                <p>parikshitbalami@gmail.com</p>
                <div class="h1 mb-3 px-5">
                    <a class="px-2" href="https://www.facebook.com/firoz.balami" style="text-decoration: none;"><i
                            class="bi bi-facebook"></i></a>
                    <a class="px-2" href="https://www.instagram.com/" style="text-decoration: none;"><i
                            class="bi bi-instagram"></i></a>
                    <a class="px-2" href="https://twitter.com/?lang=en" style="text-decoration: none;"><i
                            class="bi bi-twitter"></i></a>
                    <a class="px-2" href="https://github.com/aryanPokharel/realWorldProject.git" style="text-decoration: none;"><i
                            class="bi bi-github"></i></a>

                </div>
            </div>
        </div>
    </div>

    <div class="column md" style="margin-left:10%;">
        <div class="card">
            <img src="{% static '/images/sujanDP.jpg' %}" alt="Sujan" style="width:100%;max-height:80%">
            <div class="container">
                <h2>Sujan Baniya</h2>
                <p class="title">Front End Designer</p>
                <p>Mr.Sujan is the lead front end engineer here at Agro Nepal.
                All the strucutres of the webpages and designs were done by him.</p>
                <p>sujanbaniya@gmail.com</p>
                <div class="h1 mb-3 px-5">
                    <a class="px-2" href="https://www.facebook.com/hreedhann2000" style="text-decoration: none;"><i
                            class="bi bi-facebook"></i></a>
                    <a class="px-2" href="https://www.instagram.com/" style="text-decoration: none;"><i
                            class="bi bi-instagram"></i></a>
                    <a class="px-2" href="https://twitter.com/?lang=en" style="text-decoration: none;"><i
                            class="bi bi-twitter"></i></a>
                    <a class="px-2" href="https://github.com/aryanPokharel/realWorldProject.git" style="text-decoration: none;"><i
                            class="bi bi-github"></i></a>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}