{% extends 'adminbase.html' %}

{% load static %}

{% block content %}
<link type="text/css" rel="stylesheet" href="{% static '/css/adminadmin.css' %}">

<div class="showupdivs mt-5 pt-5" id="adminsDiv">
    <h2 class="text-center">These are our Admins!</h2>
    <div class="mt-4">
        <div class="d-flex justify-content-center links">
            <a href="/myadmin/registeradmin/" class="ml-2"><i class="bi bi-person-plus-fill">Add an Admin </i></a>
        </div>

    </div>
    <div class="container">
        <table class="table table-sm table-hover table-success" id="table">
            <tr class="table-row table-primary">
                <th class="table-heading">ID</th>
                <th class="table-heading">First Name</th>
                <th class="table-heading">Last Name</th>
                <th class="table-heading">Email</th>
                <th class="table-heading">Username</th>
                <th class="table-heading">Last Login</th>

            </tr>

            {% for admin in admins %}
            <tr class="table-row {% cycle 'table-warning' 'table-danger' %}">
                <td class="table-data">{{admin.id}}</td>
                <td class="table-data">{{admin.first_name}}</td>
                <td class="table-data">{{admin.last_name}}</td>
                <td class="table-data">{{admin.email}}</td>
                <td class="table-data">{{admin.username}}</td>
                <td class="table-data">{{admin.last_login}}</td>

            </tr>

            {% endfor %}

        </table>

    </div>

</div>

{% endblock %}