{% extends 'adminbase.html' %}

{% load static %}


<link type="text/css" rel="stylesheet" href="{% static '/css/adminhome.css' %}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

<link href="css/sb-admin-2.min.css" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">


<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
        integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<div class="container mt-5 pt-5">
    <div class="container bg-dark mt-5 pt-5">
        <h3 class="text-center text-light">Our Stats</h3>
        <div class="row border px-5 py-5 mt-5 pt-5">
            <div class="col">
                <h2 class="text-center text-info">Our Feedbacks</h2>
                <canvas id="remarksChart"></canvas>
            </div>
            <div class="col">
                <h2 class="text-center text-info">Our Gross Trades</h2>
                <canvas id="tradesChart"></canvas>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    let remarksChart = document.getElementById('remarksChart').getContext('2d');

    var epic = {{epic}};
    var good = {{good}} ;
    var fine = {{fine}};
    var bad = {{bad}};
    var pathetic = {{pathetic}};

    var grossProduct = {{gross_product_trade}};
    var grossAutomobile = {{gross_automobile_trade}};
    var grossWorker = {{gross_worker_trade}};

    let remarkChart = new Chart(remarksChart, {
        type: 'bar',
        data:{
            labels:['Epic', 'Good', 'Fine', 'Bad', 'Pathetic'],
            datasets: [{
                label: 'Customer Feedbacks',
                data:[epic,good,fine,bad,pathetic],
                backgroundColor:[
                    'green',
                    'blue',
                    'yellow',
                    'orange',
                    'red'
                ],
                hoverBorderWidth:3,
                hoverBorderColor:'black',
                }]
            },
    });


    let tradeChart = new Chart(tradesChart, {
        type: 'pie',
        data:{
            labels:['Product', 'Automobile', 'Workers'],
            datasets: [{
                label: 'Customer Feedbacks',
                data:[grossProduct,grossAutomobile,grossWorker],
                backgroundColor:[
                    'green',
                    'blue',
                    'red',

                ],
                hoverBorderWidth:3,
                hoverBorderColor:'black',
                }]
            }
            }
            )



</script>

<link rel="script" href="{% static '/javascript/adminhome.js' %}">
{% endblock %}