{% extends 'base.html' %}

{% load static %}

{% block title %} Edit Profile {% endblock %}
{% load bootstrap %}
{% block content %}


<link type="text/css" rel="stylesheet" href="{% static '/css/insiderregister.css' %}">
<div class="container text-white mt-4">
    <h3 class="text-center">Change Password</h3>
    <form action="" method="post" class="ui form mx-5 px-5 text-white">
        {% csrf_token %}

        {{ form | bootstrap_horizontal }}

        <button type="submit" class="ui button positive btn-success mt-3 mx-5 px-5 text-center">Confirm!</button>
    </form>
</div>


<div class="container mt-5 pt-5 mb-5 pb-5"></div>

{% endblock %}